<title><%- title%></title>

<!-- flash messages -->
<%- messages() %>

 <!-- EJS code block to display errors -->
 <% if (errors) { %>
    <ul class="notice">
      <% errors.array().forEach(error => { %>
      <li><%= error.msg %></li>
      <%  }) %>
    </ul>
    <% } %>

<h2>Welcome, <%= firstName %>!</h2>
<a href="/account/update">Update Profile</a>

<% if (accountType === "Admin" || accountType === "Employee") { %>
  <h3>Manage inventory with the link below</h3>
  <a href="/inv/management">Manage Inventory</a>
  <% } %>