<header id="top-header">
    <span class="siteName">
        <a class="siteTitle" href="/" title="Return to home page">CSE Motors</a>
        <a class="myAccount" href="/account/login" title="Click to log in">My Account</a>
    </span>
</header>