@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Righteous&display=swap");
/*  Mobile View */
@media only screen and (max-width: 999px) {
  .deloreanSection {
    max-width: 75%;
  }
  .deloreanSection .deloreanImage {
    max-width: 100%;
  }
  .homeMain {
    display: grid;
    grid-template-columns: 1fr; /* Single column */
    padding-bottom: 60px;
    gap: 20px;
  }
}
/* In gerneral */
a {
  text-decoration: none;
  color: black;
}

/* Header */
.siteName {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}
.siteName .siteTitle {
  font-size: xx-large;
}
.siteName .myAccount {
  transform: translateY(20%);
}

/* Nav */
nav {
  margin-left: 5px;
  margin-right: 5px;
  background-color: black;
}
nav ul {
  display: flex;
  justify-content: space-around;
  min-height: 30px;
  list-style: none;
  padding-top: 10px;
}
nav a {
  text-decoration: none;
  color: white;
}

/* Body */
body {
  margin-left: 20%;
  margin-right: 20%;
  /*background-color: #D3D9D4;*/
  background-image: url("/images/site/pexels-guiirossi-1668928.jpg");
  background-size: cover;
}
body .bodyContainer {
  background-color: white;
  border-color: #F9BC7D;
  border-style: solid;
  border-width: medium;
  border-radius: 10px;
  max-width: 983px;
}
body .bodyContainer main {
  padding: 10px;
}
body .bodyContainer main .deloreanSection {
  min-height: 100px;
}
body .bodyContainer main .deloreanSection div {
  position: absolute;
  margin-left: 2%;
  margin-top: 2%;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  border-radius: 5%;
}
body .bodyContainer main .deloreanSection div img {
  max-width: 75%;
}
body .bodyContainer main .deloreanSection .deloreanImage {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding-top: 20px;
  padding-bottom: 50px;
  margin-left: 15%;
}
body .bodyContainer main .homeMain {
  display: grid;
  grid-template-columns: 50% 50%;
  padding-bottom: 60px;
  gap: 20px;
}
body .bodyContainer main .homeMain .upgradesGrid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  align-items: center;
}
body .bodyContainer main .homeMain .upgradesGrid p {
  background-color: rgba(255, 255, 255, 0.5);
  text-decoration: underline;
  color: blue;
}
body .bodyContainer main .homeMain .upgradesGrid .upgradesGridItem {
  margin: 10px;
  min-height: 150px;
  text-align: center;
}
body .bodyContainer main .homeMain .upgradesGrid .upgradesGridItem .upgradeImg {
  background-color: #F9BC7D;
  min-height: 100px;
  display: flex;
  justify-content: center;
}
body .bodyContainer main .homeMain .upgradesGrid .upgradesGridItem .upgradeImg img {
  height: 50%;
  margin-top: 11%;
}
body .bodyContainer main .homeMain .reviews {
  display: flex;
  flex-direction: column;
}
body .bodyContainer main .homeMain .reviews h2 {
  padding: 10px;
}
body .bodyContainer main .homeMain .reviews div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  padding-bottom: 60px;
}
body .bodyContainer footer {
  padding-left: 10px;
}/*# sourceMappingURL=styles.css.map */