<title><%= title %></title>

<main>
    <h1><%- title %></h1>
    <%- messages() %>

    <!-- Links to add new classification and new inventory -->
    <a href="/inv/add-classification">Add new classification</a>
    <br>
    <a href="/inv/add-inventory">Add new inventory</a>

</main>

